<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MyWeb</display-name>
	<context-param>
		<param-name>configUrl</param-name>
		<param-value>/WEB-INF/MyWeb.xml</param-value>
	</context-param>
	<servlet>
		<servlet-name>config</servlet-name>
		<servlet-class>ticket.web.context.ContextLoaderServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>
				ticket.web.context.support.XmlWebApplicationContext
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>mypack.DispatcherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ticket</servlet-name>
		<servlet-class>ticket.web.servlet.ControllerServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/dispatcher</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>